{% extends 'base.html' %}

{% block brand %}
    - link_adder
{% endblock %}

{% block counter %}
    today is: {{ today.strftime('%Y-%m-%d') }} | there are: <b>{{ count }}</b> links
{% endblock %}

{% block content %}
    <br />
    <form class="col s12" action="{{ url_for('link.create_link') }}" method="post" id="add-link-form">
        <div class="row">
            <div class="input-field col s3">
                <input id="title" name="title" type="text" class="validate" required>
                <label for="title">title</label>
            </div>
        

            <div class="input-field col s3" required>
                <select id="categories-selector" name="category_id">
                    <option value="" disabled selected>Choose category:</option>
                    {% for category in categories %}
                        <option value="{{ category['id'] }}">{{ category['name'] }}</option>
                    {% endfor %}
                </select>
                <label>Category</label>
            </div>

            <div class="input-field col s6">
                <input id="url" name="url" type="text" class="validate" required>
                <label for="url">url</label>
            </div>
        </div>

        <p>
            <button class="waves-effect waves-light btn right" type="submit">Add link</button>
            <button class="waves-effect waves-light btn left modal-trigger" data-target="modal1">Add new category</button>
        </p>
    </form>
    <br /><br /><br />
    <hr />

    <div id="links">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>starred</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Date added</th>
                    <th>Refference</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for link in links %}
                <tr>
                    <td>
                        {% if link['starred'] == 0 %}
                            <a href="{{ url_for('link.update', id=link['id']) }}"><i class="small material-icons waves-effect waves-light" id="star" data-id="{{ link['id'] }}">star_border</i></a>
                        {% elif link['starred'] == 1 %}
                            <a href="{{ url_for('link.update', id=link['id']) }}"><i class="small material-icons waves-effect waves-light" id="star" data-id="{{ link['id'] }}">star</i></a>
                        {% endif %}
                    </td>
                    <td>{{ link['title'] }}</td>
                    <td>{{ link['name'] }}</td>
                    <td>{{ link['created'].strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><a href="{{ link['url'] }}" class="waves-effect waves-light btn" target="_blank">GO <i class="material-icons right">send</i></a></td>
                    <!--<td><a class="modal-trigger" data-target="modal2" id="delete" title="delete" href="#" data-id="{{ link['id'] }}" ><i class="small material-icons">delete_forever</i></a></td>-->
                    <td><a href="{{ url_for('link.delete', id=link['id']) }}" onclick="return confirm('Are you sure?');"><i class="small material-icons">delete_forever</i></a></td>
                </tr>
            {% endfor %}
            <tbody>
            </tbody>
        </table>
    </div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Adding category</h4>
            <form class="col s12" method="post" id="add-category-form" action="{{ url_for('link.create_category') }}">
                <div class="row">
                    <div class="input-field col s3">
                        <input name="name" id="name" type="text" class="validate" required>
                        <label for="name">Category name</label>
                    </div>
                  </div>
                <p>
                    <button class="waves-effect waves-light btn left" type="submit">Add category </button>
                </p>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" id="btn-cancel" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
        </div>
    </div>
{% endblock %}